/* ========================= */
/* GENERAL */
/* ========================= */

html{
    scroll-behavior:smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0b1120;
    color:white;
}

/* ========================= */
/* NAVBAR */
/* ========================= */

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:rgba(11,17,32,.95);
    backdrop-filter:blur(10px);

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;

    z-index:1000;
}

.logo{
    font-size:26px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:.3s;
}

.nav-links a:hover{
    color:#7dd3fc;
}

/* ========================= */
/* HERO */
/* ========================= */

header{
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    text-align:center;

    background:linear-gradient(135deg,#0b1120,#16213e);

    padding-top:90px;
}

header h1{
    font-size:70px;
    margin-bottom:20px;
}

header h2{
    font-size:28px;
    color:#7dd3fc;
    margin-bottom:40px;
}

/* ========================= */
/* BUTTON */
/* ========================= */

.play-button{
    display:inline-block;

    padding:15px 35px;

    background:#2563eb;

    color:white;

    text-decoration:none;

    font-size:20px;

    font-weight:bold;

    border-radius:10px;

    transition:.3s;
}

.play-button:hover{

    background:#3b82f6;

    transform:scale(1.05);

}

/* ========================= */
/* SECTIONS */
/* ========================= */

section{

    padding:120px 20px;

    text-align:center;

}

section h1{

    margin-bottom:40px;

    font-size:50px;

}

/* ========================= */
/* GAME CARD */
/* ========================= */

.game-card{

    max-width:400px;

    margin:30px auto;

    padding:25px;

    border-radius:15px;

    background:#1e293b;

    transition:.3s;

}

.game-card:hover{

    transform:translateY(-8px);

}

.game-card h2{

    margin-bottom:15px;

    color:#7dd3fc;

}

.game-card p{

    font-size:18px;

}

/* ========================= */
/* ABOUT & CONTACT */
/* ========================= */

#about p,
#contact p{

    max-width:800px;

    margin:auto;

    font-size:20px;

    line-height:1.8;

}

/* ========================= */
/* FOOTER */
/* ========================= */

footer{

    padding:25px;

    text-align:center;

    background:#111827;

}
